---
import Layout from '../../layouts/en/PageLayout.astro';
import ContactForm from '../../components/en/ContactForm.astro';
---

<Layout title="Contact - ADI Sleep Consulting">
    <main class="py-8">
        <h1 class="text-3xl sm:text-4xl font-bold mb-8 text-center sm:text-left text-gray-800">Contact Me</h1>
        <div class="max-w-2xl mx-auto">
            <ContactForm />
        </div>
    </main>
</Layout> 