---
import Layout from '../../layouts/en/PageLayout.astro';
import WelcomeDynamic from '../../components/WelcomeDynamic.astro';
import ContactForm from '../../components/en/ContactForm.astro';
---

<Layout title="ADI Sleep Consulting - Professional Sleep Solutions">
	<WelcomeDynamic />
	<div class="mt-12">
		<ContactForm />
	</div>
</Layout> 