<header class="bg-gray-800 py-4">
    <nav class="px-4">
        <ul class="flex flex-col sm:flex-row justify-center items-center gap-4 sm:gap-8 m-0 p-0 list-none">
            <li class="w-full sm:w-auto text-center">
                <a href="/" class="text-white hover:text-gray-300 text-lg no-underline block py-2 sm:py-0">Home</a>
            </li>
            <li class="w-full sm:w-auto text-center">
                <a href="/about" class="text-white hover:text-gray-300 text-lg no-underline block py-2 sm:py-0">About Me</a>
            </li>
            <li class="w-full sm:w-auto text-center">
                <a href="/products" class="text-white hover:text-gray-300 text-lg no-underline block py-2 sm:py-0">My Products</a>
            </li>
        </ul>
    </nav>
</header>

