---
import Layout from '../../layouts/he/PageLayout.astro';
import ContactForm from '../../components/he/ContactForm.astro';
---

<Layout title="צור קשר - ייעוץ שינה עדי">
    <main class="py-8">
        <h1 class="text-3xl sm:text-4xl font-bold mb-8 text-center sm:text-right text-gray-800">צור קשר</h1>
        <div class="max-w-2xl mx-auto">
            <ContactForm />
        </div>
    </main>
</Layout> 