---
import Layout from '../../layouts/he/PageLayout.astro';
import WelcomeDynamic from '../../components/WelcomeDynamic.astro';
import ContactForm from '../../components/ContactForm.astro';
---

<Layout title="ייעוץ שינה עדי - פתרונות שינה מקצועיים">
	<WelcomeDynamic />
	<div class="mt-12">
		<ContactForm />
	</div>
</Layout> 